body{ 
    background-color: rgb(212, 218, 223);
}

.ar{ 
    transform: rotate(180deg);
}

.nav{ 
    text-align: center;
}


.start{  
    color: gray;
    margin-top: 40px;
   
}


.bxl-facebook-circle{
   margin-top: 40px;
    color: rgb(45, 45, 214);
    font-size: 60px;
   
}

input   {
    margin-top: 50px;
    padding: 6px;
}

.pas{ 
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    margin-left: 10px;
}

.em{
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    margin-left: 10px;
}

.btn{
    margin-top: 10px;
    width: 190px;
    border-radius: 30px;
    color: white;
    background-color: blue;
    border: none;
    padding: 6px;
    margin-left: 12px;
}

.btn1{
    border-radius: 30px;
     width: 180px;
     color: blue;
     border-color: blue;
    padding: 8px;
    margin-top: 80px;
    margin-left: 10px;
}
